1. Linux 32-bit or 64-bit 

2. Python (not Python3)

3. Java and GCC are needed (for ANTLR)

4. If you want to let YSmart compile and execute translated Java codes, Hadoop 0.20.x or 0.21.x must be installed and HADOOP_HOME must be set.


